@model Jogador

@{
    ViewData["Title"] = "Jogador";
}

<h1>Tela de Jogadores</h1>

<form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">

    <label for="">Nome</label>
    <input type="text" name="Nome" required>

    <label for="">Email</label>
    <input type="text" name="Email" required>

    <label for="">Senha</label>
    <input type="text" name="Senha" required>

    <label for="">Equipe</label>
    <select name="IdEquipe" id="IdEquipe">
        <option value="0">Selecione uma equipe:</option>
        @foreach (Equipe equipe in ViewBag.Equipe)
        {
            <option value="@equipe.IdEquipe">@equipe.Nome</option>
        }
    </select>
    <button type="submit">Cadastrar</button>

</form>

<form method="post" action="@Url.Action("Listar")" enctype="multipart/form-data">

</form>


<table class="table table-striped table-responsive">

    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Equipe</th>
        <th>Excluir</th>
        <th>Editar</th>
    </thead>

    <tbody>
        @foreach (Jogador jogador in ViewBag.Jogador)
        {
            <tr>
                <td>@jogador.IdJogador</td>
                <td>@jogador.Nome</td>
                <td>@jogador.Email</td>
                <td>
                    <img src="/img/Equipes/@jogador.Equipe.Imagem" alt="Imagem da equipe @jogador.Equipe.Nome" width="50px">
                </td>
                <td><a asp-area="" asp-action="Excluir" asp-controller="Jogador"
                        asp-route-id="@jogador.IdEquipe">Excluir</a></td>
                <td><a asp-area="" asp-controller="Jogador" asp-action="Editar" asp-route-id="@jogador.IdEquipe">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
